body {
  color: #000;
  text-transform: none;
  background-color: #111;
  font-family: Kanit, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

p {
  text-align: left;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
}

.icon-button {
  color: #f8f8f8;
  flex-direction: row;
  flex: none;
  align-items: center;
  font-size: .8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.icon-button:hover {
  color: #ac892d;
  font-weight: 400;
}

.icon-button.rotate-icon.top-right {
  align-self: center;
  align-items: flex-end;
}

.icon-button.rotate-icon.top-right:hover {
  color: #f8b8b8;
}

.icon-button.rotate-icon.top-right.in-overlay {
  width: 100%;
  color: #000;
  text-align: center;
  line-height: 3rem;
}

.page-nav-header {
  z-index: 90;
  width: 100vw;
  height: 50px;
  background-color: #000;
  border-bottom: 1px solid #313131;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 40px;
  transition: height .2s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.button-icon-outline {
  border: 2px #f8f8f8;
  border-radius: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
}

.button-icon-outline.in-overlay {
  background-color: #272727;
}

.icon-button-text {
  font-size: 1.3rem;
}

.button-icon {
  width: 1.3rem;
  height: 1.3rem;
  padding-left: 0;
}

.button-icon.large {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
}

.header-logo {
  z-index: 11;
  height: 100%;
  margin-right: .8rem;
  position: relative;
}

.page-hero-section {
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.page-hero-section.intro {
  background-color: #f1f1f1;
}

.page-hero-section.intro.shrink {
  min-height: auto;
}

.section-wrap {
  width: 100vw;
  min-height: 60vh;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.section-wrap.hidden {
  display: none;
}

.section-content {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 50px;
  display: block;
}

.h2 {
  text-align: left;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1;
}

.h2.black {
  color: #181818;
  position: static;
}

.h2.indented {
  padding-left: 50px;
}

.h2.centered {
  text-align: center;
}

.box-top-wrap {
  width: 200px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: Kanit, sans-serif;
  font-size: 1.9rem;
  line-height: 1;
  display: flex;
}

.box-top-wrap.inline {
  width: auto;
  height: auto;
  display: block;
}

.box {
  width: 30%;
  text-align: center;
  border: .1rem solid #f8f8f8;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1% 1% 2%;
  padding: 10px;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5em;
  display: flex;
  box-shadow: 0 10px 25px 3px rgba(0, 0, 0, .1);
}

.footer-section {
  width: 100vw;
  min-height: 50vh;
  perspective: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4.1rem;
  padding-bottom: 4.1rem;
  display: flex;
}

.normal {
  color: #000;
  text-align: left;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
}

.normal.contact-success {
  color: #245243;
  margin-bottom: 20px;
}

.normal.contact-errors {
  color: #92381e;
  margin-bottom: 20px;
}

.body {
  background-color: #f1f1f1;
  margin-top: 50px;
}

.link {
  color: #e0900f;
  line-height: 1.2;
}

.footer-box-item {
  margin-bottom: 20px;
}

.footer-box-item.fb {
  background-image: url('../images/fb-icon.png');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 30px;
}

.service-item {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-size: 1.4rem;
}

.item-details {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3;
  transition: height .2s;
  overflow: hidden;
}

.item-details.left {
  text-align: left;
}

.video-embed.grid {
  margin-left: 10px;
  margin-right: 10px;
}

.heading-1 {
  text-transform: uppercase;
  font-size: 3.3rem;
  line-height: .8;
}

.heading-1.hero-title {
  z-index: 20;
  width: 90%;
  color: #000;
  text-align: center;
  background-color: rgba(241, 241, 241, .53);
  border-radius: 10px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, sans-serif;
  line-height: 1;
  transition: opacity .2s;
  position: absolute;
  top: 30%;
  bottom: auto;
  left: 5%;
  right: 0%;
}

.slider {
  height: 70vh;
  background-color: #f1f1f1;
  padding-bottom: 40px;
}

.slider.normal {
  height: 350px;
}

.slider-arrow {
  z-index: 90;
  background-color: rgba(0, 0, 0, .34);
  border-radius: 5px;
}

.html-embed {
  height: 220px;
}

.html-embed.in-overlay {
  width: 70%;
  height: 70%;
}

.overlay {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(241, 241, 241, .96);
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.overlay.hidden {
  display: none;
}

.overlay-close {
  width: 2rem;
  height: 2rem;
  color: #f1f1f1;
  text-align: center;
  cursor: pointer;
  background-color: rgba(24, 24, 24, .55);
  border-radius: 1rem;
  padding-top: .1rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.8rem;
  transition: background-color .2s;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: auto;
  right: 15%;
}

.overlay-close:hover {
  background-color: #000;
}

.overlay-close.large {
  top: 5%;
  right: 5%;
}

.map-overlay-trigger {
  cursor: zoom-in;
}

.map-overlay-trigger:hover {
  opacity: .41;
}

.slider-item {
  height: 100%;
  text-align: center;
}

.overlay-contents {
  width: 70%;
  height: 70%;
  color: #000;
  background-color: rgba(241, 241, 241, .84);
  padding: 10px;
  font-size: 1.5rem;
}

.overlay-contents.large {
  width: 90%;
  height: 90%;
}

.div-block {
  display: block;
}

.link-block {
  height: 100%;
}

.grid-section {
  width: 100vw;
  min-height: 50vh;
  perspective: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.grid-box {
  width: 30%;
  text-align: center;
  border: .1rem solid #f8f8f8;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1% 1% 2%;
  padding: 10px;
  font-family: Lato, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5em;
  transition: top .2s, left .2s;
  display: flex;
  position: relative;
  box-shadow: 0 10px 25px 3px rgba(0, 0, 0, .1);
}

.grid-box:hover {
  top: 2px;
  left: 2px;
}

.right-arrow {
  z-index: 90;
}

.slider-image {
  height: 100%;
}

.left-arrow {
  z-index: 90;
}

.form-field.short {
  flex: 1;
  margin-right: 10px;
  display: inline-block;
}

.form-field.short.last {
  margin-right: 0;
}

.textarea {
  min-height: 200px;
}

.form-field-inline-group {
  justify-content: space-around;
  display: flex;
}

.form-block {
  margin-top: 20px;
}

.contact-form {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 50px;
  display: block;
}

.wefunder-inline {
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  background-color: #233067;
  border-radius: 10px;
  flex-direction: row;
  order: -1;
  grid-template: ". ."
                 ". Area"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  justify-items: center;
  padding: 12px;
}

.wefunder-img {
  width: 200px;
  padding: 0;
}

.wefunder-text {
  color: #f1ebeb;
  justify-content: flex-end;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.invest-cta {
  width: 50%;
  min-width: 300px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff3323;
  border-radius: 5px;
  flex: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 21px 5px;
  font-family: Varela Round, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.invest-cta.block {
  display: block;
}

.invest-cta.hidden {
  display: none;
}

.inline-img {
  height: 300px;
  float: left;
  margin-right: 10px;
}

.wefunder-top {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #233067;
  order: -1;
  grid-template: ". ."
                 ". Area"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-self: flex-start;
  align-items: center;
  justify-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  display: flex;
}

.nav-menu {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex: 1;
  justify-content: space-around;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .overlay-close {
    top: 15%;
    right: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .icon-button-text {
    font-size: 1.6rem;
  }

  .grid-box {
    width: 22%;
  }
}

@media screen and (min-width: 1920px) {
  .icon-button-text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 991px) {
  .icon-button-text {
    font-size: 1rem;
  }

  .section-content {
    padding: 40px 30px;
  }

  .h2 {
    margin-bottom: .5rem;
    font-size: 1.9rem;
  }

  .h2.black {
    font-size: 2rem;
  }

  .h2.indented {
    padding-left: 30px;
  }

  .box-top-wrap {
    width: auto;
    height: 40px;
    font-size: 1.6rem;
  }

  .box {
    max-width: 300px;
    font-size: 1.2rem;
  }

  .footer-section {
    align-content: stretch;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .item-details {
    width: 90%;
  }

  .heading-1.hero-title {
    font-size: 2.5rem;
  }

  .slider {
    height: 50vh;
  }

  .html-embed.in-overlay {
    width: 90%;
    height: 90%;
  }

  .grid-section {
    align-content: stretch;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .grid-box {
    max-width: 300px;
    font-size: 1.2rem;
  }

  .contact-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .wefunder-inline {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;
  }

  .wefunder-img {
    object-fit: contain;
  }

  .wefunder-text {
    text-align: center;
    order: -1;
  }

  .invest-cta {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wefunder-top {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .icon-button.rotate-icon.top-right {
    top: 19px;
    right: 71px;
  }

  .button-icon-outline {
    width: 35px;
    height: 35px;
  }

  .section-wrap.short {
    min-height: auto;
  }

  .section-content {
    padding: 20px 10px;
  }

  .h2 {
    margin-top: .4rem;
    margin-bottom: .2rem;
    font-size: 1.6rem;
  }

  .h2.indented {
    padding-left: 10px;
  }

  .box-top-wrap {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4rem;
  }

  .box {
    width: 45%;
    min-height: auto;
    font-size: 1.1rem;
  }

  .normal {
    font-size: 1.2rem;
  }

  .footer-box-item {
    margin-bottom: 10px;
  }

  .item-details {
    width: auto;
  }

  .heading-1.hero-title {
    font-size: 2.2rem;
  }

  .html-embed.in-overlay {
    width: 98%;
    height: 98%;
  }

  .grid-box {
    width: 46%;
    min-height: 5.8rem;
    padding: 1rem 2% 1%;
  }

  .wefunder-inline {
    flex-wrap: wrap;
    justify-content: center;
  }

  .invest-cta {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
  }

  .wefunder-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) {
  .icon-button {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: .75rem;
  }

  .icon-button.rotate-icon.top-right {
    top: 21px;
    right: 80px;
  }

  .button-icon-outline {
    margin-right: 6px;
  }

  .header-logo {
    object-fit: contain;
  }

  .section-wrap {
    flex-direction: column;
  }

  .section-wrap.short {
    min-height: auto;
  }

  .section-content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .box-top-wrap {
    height: auto;
  }

  .box {
    width: 100%;
  }

  .footer-section {
    padding-bottom: .5rem;
  }

  .normal {
    font-size: 1.2rem;
  }

  .link {
    font-size: 1.1rem;
  }

  .grid-section {
    flex-direction: column;
  }

  .grid-box {
    width: 100%;
    min-height: 7rem;
    flex: 1;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
  }

  .contact-form {
    width: 100%;
  }

  .wefunder-text {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  .invest-cta {
    width: 90%;
  }

  .nav-menu {
    background-color: #686868;
    padding: 8px;
  }

  .menu-button {
    color: #f1f1f1;
  }

  .menu-button.w--open {
    background-color: #686868;
    padding: 10px 10px 14px;
  }
}


@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-RegularOblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Integralcf';
  src: url('../fonts/IntegralCF-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}